<h1>Agendamentos</h1>

<table>
  <thead>
    <tr>
      <th>Título</th>
      <th>Funcionário</th>
      <th>Cliente</th>
      <th>Data<th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @agendamentos.each do |agendamento| %>
      <tr>
        <td><%= agendamento.title %></td>
        <td><%= link_to agendamento.user.funcionario.nome_sobrenome, admin_funcionario_path(agendamento.user.funcionario) %></td>
        <td><%= agendamento.cliente ? link_to(agendamento.cliente.nome, admin_cliente_path(agendamento.cliente)) : 'Não definido' %></td>
        <td><%= agendamento.start_time %></td>
        <td><%= link_to 'Ver', admin_agendamento_path(agendamento) %></td>
        <td><%= link_to 'Editar', edit_admin_agendamento_path(agendamento) %></td>
        <td><%= link_to 'Excluir', admin_agendamento_path(agendamento), method: :delete, data: { confirm: 'Tem certeza?' } %></td>
      </tr>
    <% end %>
    <tr><%= paginate @agendamentos %></tr>
  </tbody>
</table>
<br>

<%= button_to 'Novo Agendamento', new_admin_agendamento_path, method: 'get' %>
